.one{
    margin-left : 40%;
    margin-top: 3%;
  }
  .onee{
    margin-top: 2%;
    margin-left :50%;
  
  }
  .two{
    margin-top: 2%;
    margin-left :20%;
  
  }
  .b{
    margin-top: 2%;
    text-align: left;
  }